nav {
  position: absolute;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

nav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #808080;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 0px;
}

body {
  background-color: #808080;
}

main {
  margin-left: 13%; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media only screen and (max-width: 1240px){
  main {
    margin-left: 17.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 1080px){
  main {
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 940px){
  main {
    margin-left: 22.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 850px){
  main {
    margin-left: 25%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 750px){
  main {
    margin-left: 27.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 700px){
  main {
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 640px){
  main {
    margin-left: 32.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 600px){
  main {
    margin-left: 35%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

.popupModal {
  z-index:3;
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}

.popupBackground {
  margin:auto;
  background-color: #808080;
  position:relative;
  padding:0;
  outline:0;
  width:1000px;
  border: 2px solid black
}

.popupExit {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  position:absolute;
  right:0;top:0
}
table.bordered tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table.bordered tr th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
} 

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

button {
  background-color: #90ee90;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-color: #111;
}