nav {
  position: absolute;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

nav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #808080;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

main {
  margin-left: 15%; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media only screen and (max-width: 1240px){
  main {
    margin-left: 17.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 1080px){
  main {
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 940px){
  main {
    margin-left: 22.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 850px){
  main {
    margin-left: 25%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 750px){
  main {
    margin-left: 27.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 700px){
  main {
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 640px){
  main {
    margin-left: 32.5%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 600px){
  main {
    margin-left: 35%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
}

section {
  display: table-cell;
  content: "";
  background-color: #fff;
  border: 2px solid black;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 3px;
  float: left;
  height: 500px;
  padding-bottom: 15px;  
}

.posts {
  display: table;
  clear: both;
  content: "";
  align: center;
}