h2 {
  background-color: yellow
}

nav {
  position: absolute;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

nav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #808080;
  color: white;
}

main {
  margin-left:17%;
  padding:1px 16px;
  height:auto;
  border: 2px solid black;
  background-color: grey;
}

table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
} 

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

