.gallery {
    display: grid;
    grid-template-columns: repeat(var(--gallery-columns), 1fr);
    gap: 16px;

    margin: 24px 0;
}

.gallery img {
    display: block;

    width: 100%;
    height: auto;

    border-radius: 8px;
}