<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <nav>
	  <a href="{{ site.url }}">Home</a>
	  <a class="dropdown-btn">Random Stuff</a>
	    <div class="dropdown-container">
          <a href="{{ site.baseurl }}/faq">FAQ</a>
          <a href="{{ site.baseurl }}/music">Le Music</a>
		  <a href="https://discord.gg/qVWaKRMCRc">Discord Server</a>
        </div>
	   <a class="dropdown-btn">Prehistoric Rift</a>
	    <div class="dropdown-container">
        <a href="{{ site.baseurl }}/prehistoric-rift">Basic Info</a>
        <a href="{{ site.baseurl }}/prehistoric-rift/download">Download</a>
        <a href="https://prehistoric-rift.fandom.com/wiki/Prehistoric_Rift">Wiki</a>
      </div>
     <a class="dropdown-btn">Borgy's Mobs</a>
        <div class="dropdown-container">
          <a href="{{ site.baseurl }}/borgys-mobs">Basic Info</a>
          <a href="{{ site.baseurl }}/borgys-mobs/download">Download</a>
          <a href="https://prehistoric-rift.fandom.com/wiki/Borgy%27s_Mobs">Wiki</a>
        </div>
     <a href="{{ site.baseurl }}/compatibilizer">Compatibilizer</a>
	   <a class="dropdown-btn">External Stuff</a>
	    <div class="dropdown-container">
        <a href="https://prehistoric-rift.fandom.com/wiki/Prehistoric_Rift_Wiki">Wiki</a>
        <a href="https://ko-fi.com/anightdazingzoroark">Ko-Fi</a>
	      <a href="https://twitter.com/nightdazer22">Twitter Profile</a>
        <a href="https://steamcommunity.com/profiles/76561198972301419/">Steam Profile</a>
		    <a href="https://github.com/ANightDazingZoroark">GitHub</a>
        <a href="https://mastodon.social/@ANightDazingZoroark">Mastodon</a>
        <a href="https://www.youtube.com/c/ANightDazingZoroark">YouTube Channel</a>
        <a href="https://www.youtube.com/channel/UC28Q24bErdMhk6LWjVydZjg/">Second YT Channel</a>
        <a href="https://www.youtube.com/channel/UCLyojX1kkNVWevbeDtGEePg/">Third YT Channel</a>
      </div>		
    </nav>  
	<main>
      {{ content }}
	</main>
	<script src="{{ site.baseurl }}/scripts.js"></script>
  </body>
</html>