<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="https://anightdazingzoroark.github.io/style.css">
  </head>
  <body>
    <nav>
	  <a class="active" href="https://anightdazingzoroark.github.io">Home</a>
	  <a class="dropdown-btn">Meta Stuff</a>
	    <div class="dropdown-container">
          <a href="https://anightdazingzoroark.github.io/music">Le Music</a>
          <a href="https://anightdazingzoroark.github.io/holoposting">Holoposting</a>
		  <a href="https://discord.gg/bP6sAky">Discord Server</a>
        </div>
	   <a class="dropdown-btn">Prehistoric Rift</a>
	    <div class="dropdown-container">
	      <a href="https://anightdazingzoroark.github.io/prehistoric-rift">Basic Info</a>
          <a href="https://anightdazingzoroark.github.io/prehistoric-rift/mobs">Mobs</a>
          <a href="https://anightdazingzoroark.github.io/prehistoric-rift/items">Items</a>
        </div>
  </nav>  
    {{ content }}
  </body>
</html>