/* =========================
   Global
   ========================= */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
}

.markdown-content h1 {
    clear: both;
}

.markdown-content h2 {
    clear: both;
}


/* =========================
   Markdown Images
   ========================= */

.markdown-content img {
    max-width: 100%;
    height: auto;
}

.markdown-content .image-left {
    float: left;
    max-width: 40%;
    margin: 0 24px 16px 0;
}

.markdown-content .image-right {
    float: right;
    max-width: 40%;
    margin: 0 0 16px 24px;
}

.markdown-content .image-center {
    display: block;
    margin: 24px auto;
}